<div class="container text-center">
    <h1 class="display-4">Esta sección esta en contrucción</h1>
    <hr />
    <div class="row contew">
        
        <div class="col-12">
            <img src="~/img/Logo1.png" class="img-fluid" alt="Responsive image" width="500" height="500">
        </div>

    </div>
</div>