@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @* importar una foto de la maquina de cafe *@
    <img src="~/img/Logo1.png" class="img-fluid" alt="Responsive image" width="500" height="500">


    <h1 class="display-4">Bienvenido al sistema Espresso</h1>
    
</div>
